{% load staticfiles %}

<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<!-- link rel="stylesheet" type="text/css" href="{% static 'ffutche/css/bootstrap.min.css' %}" / -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Satisfy" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- script src=href="{% static 'ffutche/js/jquery-3.2.1.min.js' %}"></script -->
<!-- script src=href="{% static 'ffutche/js/bootstrap.js' %}"></script -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'ffutche/style.css' %}" />
<title>Ffutche Foundation</title>


<div class="container">

    <div class="row">
        <!-- LOGO -->
        <div class="col-md-4 thumbnail">
            <a href="{% url 'ffutche:index' %}" class="navbar-left"><img src="{% static 'ffutche/images/logo.png' %}"></a>
        </div>
        <div class="col-md-8">
            <!-- Right 3 Items -->
            <div class="row">
                <nav>
                    <ul class="nav nav-justified">
                        <li><a href="#"><span class="fa fa-cubes"></span>&nbsp; Our Work</a></li>
                        <li><a href="#"><span class="fa fa-picture-o"></span>&nbsp; Gallaries</a></li>
                        <li><a href="#"><span class="fa fa-university"></span>&nbsp; About Us</a></li>
                        <li><a href="#"><span class="fa fa-phone-square"></span>&nbsp; Contact Us</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Middle 2 Items -->
            <div class="row">
                <div class="col-md-9 text-center">
                    <h2>Impacting Lives!</h2>
                </div>
                <div class="col-md-3 text-center"><br>
                    <a class="btn btn-primary" href="{% url 'ffutche:donation' %}" role="button"><span class="fa fa-leaf"></span>&nbsp; Donate</a>
                </div>
            </div>
            <br>
            <!-- Last 4 Items -->
            <div class="row">
                <nav class="navbar navbar-default">
                    <div id="navbar" class="navbar-collapse">
                        <form class="navbar-form navbar-right">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="fa fa-sign-in"></span>&nbsp; Sign In</a></li>
                            <li><a href="{% url 'ffutche:register' %}"><span class="fa fa-user-plus"></span>&nbsp; Register</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- Secondary main menu -->
    <div class="row">
        <!-- Static navbar -->
        <nav class="navbar navbar-inverse">
            <div id="navbar" class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'ffutche:index' %}"><span class="fa fa-home"></span>&nbsp; Home</a></li>
                    <li><a href="#"><span class="fa fa-ambulance"></span>&nbsp; Healthcare</a></li>
                    <li><a href="#"><span class="fa fa-graduation-cap"></span>&nbsp; Education</a></li>
                    <li><a href="#"><span class="fa fa-wrench"></span>&nbsp; Development</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </nav>
    </div>


    <div class="row">
        <h2>Create an Account</h2>
        <h3>Complete the form to sign up with us</h3>

        <form method="post" action="{% url 'ffutche:register' %}">
            <h3 class="alert-success">{{ message }}</h3>
            {% csrf_token %}
            <div class="form-group">
                <label>First Name:</label>
                <input type="text" class="form-control" name="first_name">
            </div>
            <div class="form-group">
                <label>Last Name:</label>
                <input type="text" class="form-control" name="last_name">
            </div>
            <div class="form-group">
                <label>Email ID:</label>
                <input type="email" class="form-control" name="email_id">
            </div>
            <div class="form-group">
                <label>Phone No.:</label>
                <input type="number" class="form-control" name="phone_number">
            </div>
            <div class="form-group">
                <label>Address:</label>
                <input type="text" class="form-control" name="address">
            </div>
            <div class="form-group">
                <label>Marital Status:</label><br>
                <label class="radio-inline"><input type="radio" name="optradio">Single</label>
                <label class="radio-inline"><input type="radio" name="optradio">Married</label>
            </div>
            <button type="submit" class="btn btn-success" value="submit">Submit</button>
        </form>

        <br>
    </div>

        <!-- Footer -->
    <hr>
    <footer>
        <p><a href="#">Site Map</a> &#124; <a href="#">Terms &amp; Conditions</a> &#124; <a href="#">Privacy Policy</a> &#124; <a href="#">Copyright &copy; 2017</a></p>
    </footer>
</div>